<div class="hero-unit">
    <div class="row">
        <form class="horizontal-form">

            <!-- Sequence Field -->
            <div class="control-group">
                <label for="sequenceField">Sequence: </label>
                <div>
                    <input id="sequenceField" type="text" data-ng-model="newDna" required pattern="[ATGC]*" />
                </div>
            </div>

            <!-- Add Button -->
            <div class="control-group">
                <button type="submit" class="btn btn-primary" ng-click="addDna()">Add</button>
            </div>

        </form>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Sequence</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="curDna in dnaList">
                    <td>{{curDna}}</td>
                    <td style="width: 50%"><div progress percent="frequencies(curDna)" auto-type="true"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
